{% extends 'base.html' %} {% block content %}
<h2>Add Student</h2>
<form method="POST">
  <input type="text" name="first_name" placeholder="First Name" required />
  <input type="text" name="last_name" placeholder="Last Name" required />
  <input type="email" name="email" placeholder="Email" required />
  <input
    type="text"
    name="password_hash"
    placeholder="Password (will hash later)"
    required />
  <input type="number" name="current_year" placeholder="Current Year" />
  <input
    type="number"
    name="expected_graduation_year"
    placeholder="Expected Graduation Year" />
  <button type="submit">Submit</button>
</form>
{% endblock %}
